* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-title h1 {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200px !important;
}

body {
    background: url('../img/games.jpg') no-repeat center center fixed;
    background-size: cover;
}

.menu-container {
    position: fixed;
    display: flex;
}

.menu {
    top: 0%;
    position: fixed;
    height: 100%;
    transition: .3s;
    background: #ffffff12;
    padding: 20px 20px 20px 0;
    width: 85px;
    box-shadow: 8px 0px 9px 0px #00000014;
    backdrop-filter: blur(5px);
    min-height: 100vh;
}

.menu:hover {
    width: 260px;
}

.menu:hover li span:nth-child(2) {
    display: block;
}

.menu-content li {
    list-style: none;
    border-radius: 0px 50px 50px 0;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.menu-content li:hover {
    background: #0c0c0c;
}

.menu-content li span:nth-child(2) {
    display: none;
}

.menu a {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'calibri';
}

.menu a:hover {
    text-decoration:none;
}

.menu button {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'calibri';
    background-color: transparent;
    border: #00000000;
}

.material-symbols-outlined {
    font-size: 25px;
    margin-right: 10px;
    background: #0c0c0c;
    border-radius: 50%;
    padding: 10px;
}

#carouselExampleIndicators {
    margin-top: -3rem;
    margin-bottom: 20px;
    margin-left: 150px; 
    margin-right: 150px;
    
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    min-width: 400px;
}

.form-container {
    width: 1100px;
    height: auto;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    background: rgb(253, 253, 253);
}

.title {
    font-size: 30px;
}

.above {
    animation: above .8s ease-in-out forwards;
}

.below {
    animation: below .8s ease-in-out forwards;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 50px 0;
    font-size: 15px;
}

section label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.856);
}

.field {
    position: relative;
    margin-top: 50px;
}

.field label {
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: .3s;
    position: absolute;
}

.field img {
    padding-bottom: 1rem;
}

.login-btn {
    width: 100%;
    border: none;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
    color: white;
    background: #1a1a1a;
    padding: 5px;
    margin: 0 0 35px 0;
}

.login-btn:hover,
.signup-btn:hover {
    transform: scale(0.9);
}

.slider-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    width: 100%;
    height: 70vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  
.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

#content-container {
    margin-left: 120px;
    margin-right: 230px;
}


