* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/games.jpg') no-repeat center center fixed;
    background-size: cover;
}

.menu-container {
    position: fixed;
    display: flex;
}

.menu {
    height: 100%;
    transition: .3s;
    background: #ffffff12;
    padding: 20px 20px 20px 0;
    width: 85px;
    box-shadow: 8px 0px 9px 0px #00000014;
    backdrop-filter: blur(5px);
    min-height: 100vh;
}

.menu:hover {
    width: 260px;
}

.menu:hover li span:nth-child(2) {
    display: block;
}

.menu-content li {
    list-style: none;
    border-radius: 0px 50px 50px 0;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.menu-content li:hover {
    background: #0c0c0c;
}

.menu-content li span:nth-child(2) {
    display: none;
}

.menu a {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'calibri';
}

.menu a:hover {
    text-decoration:none;
}

.menu button {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'calibri';
    background-color: transparent;
    border: #00000000;
}

.material-symbols-outlined {
    font-size: 25px;
    margin-right: 10px;
    background: #0c0c0c;
    border-radius: 50%;
    padding: 10px;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 400px;
}

.form-container {
    width: 1100px;
    height: 800px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background: rgb(253, 253, 253);
}



.title {
    font-size: 30px;
}

.above {
    animation: above .8s ease-in-out forwards;
}

.below {
    animation: below .8s ease-in-out forwards;
}



form {
    display: flex;
    flex-direction: column;
}

form input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    width: 100%;
    padding: 0 30px 5px 0;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 50px 0;
    font-size: 15px;
}

input:focus {
    outline: none;
}

section label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.856);
}

.field {
    position: relative;
    margin-top: 50px;
}

.field label {
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: .3s;
    position: absolute;
}

.field input:focus+label,
.field input:not(:placeholder-shown)+label {
    bottom: 25px;
}

.login-btn {
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.login-btn {
    margin: 0 0 35px 0;
}

.login-btn:hover,
.signup-btn:hover {
    transform: scale(0.9);
}


  .container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .wrapper.active{
    border: none;
  }
  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .wrapper .icon{
    font-size: 100px;
    color: #9658fe;
  }
  .wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
  }
  .wrapper #cancel-btn i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658fe;
    cursor: pointer;
    display: none;
  }
  .wrapper.active:hover #cancel-btn i{
    display: block;
  }
  .wrapper #cancel-btn i:hover{
    color: #e74c3c;
  }
  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }
  .wrapper.active:hover .file-name{
    display: block;
  }
  .container #custom-btn{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }